In [1]:
import pandas as pd
import numpy as np

In [4]:
indexes = []
for i in range(0,51):
    if(i%2==0):
        indexes.append(i)

In [9]:
s = pd.Series([i**2 - 1 for i in indexes],index=indexes)

In [13]:
idx = [i for i in s.index if i%3==0]

In [19]:
s[idx] = 0

In [20]:
s

0        0
2        3
4       15
6        0
8       63
10      99
12       0
14     195
16     255
18       0
20     399
22     483
24       0
26     675
28     783
30       0
32    1023
34    1155
36       0
38    1443
40    1599
42       0
44    1935
46    2115
48       0
50    2499
dtype: int64